.ml-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.mr-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.dataTable-sorter::before, .dataTable-sorter::after {
    right: unset !important;
    left: 4px !important;
}
